@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.header {
  background-color: $white;
  padding: 15px 0;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));

  &__phone {
    position: relative;
    font-weight: 600;
    color: $black;

    &::before {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 5px;
      left: -20px;
      background-image: url('../images/phone.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.logo {
  margin-right: 105px;
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: $black;
      bottom: -4px;
      left: auto;
      right: 0;
      width: 0;
      height: 2px;
      transition: width .3s ease-in-out;
    }

    &:hover {
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }

    &:last-child {
      margin-right: 75px;
    }
  }

  &__link {
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
  }
}

.present {
  padding: 90px 0;

  &__title {
    margin-bottom: 54px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translate(100%, -50%);
      width: 70px;
      height: 2px;
      background-color: #F04C41;
    }
  }

  &__link {
    position: absolute;
    font-weight: 600;
    transition: transform .3s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      width: 38px;
      height: 38px;
      background-image: url('../images/arrow.svg');
    }
  }

  &__row {
    display: grid;

    &:nth-child(odd) {
      grid-template-columns: 458px 262px 360px;
      grid-template-rows: repeat(2, 168px);
      gap: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
      grid-template-columns: 360px 262px 458px;
      grid-template-rows: repeat(2, 168px);
      gap: 30px;
    }
  }

  &__item {
    border-radius: 10px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    &:hover {
      .present__link {
        transform: scale(1.1);
      }
    }

    img {
      object-fit: cover;
      position: absolute;
    }

    &--1 {
      grid-row: span 2;
      background-image: url('../images/present-bg-1.png');
      background-color: #5ECBAD;

      .present__link {
        left: 20px;
        bottom: 24px;
        font-size: 30px;
        line-height: 30px;
        color: $white;

        &::before {
          top: -6px;
          right: -66px;
        }
      }

      img {
        width: 170px;
        height: 377px;
        top: -17px;
        right: 11px;
      }
    }

    &--2 {
      background-image: url('../images/present-bg-2.png');
      background-color: #FFF388;

      .present__link {
        left: 20px;
        top: 43px;
        font-size: 20px;
        line-height: 24px;
        color: $black;

        &::before {
          top: 40px;
          background-image: url('../images/arrow-black.svg');
        }
      }

      img {
        width: 123px;
        height: 184px;
        top: -16px;
        right: -7px;
      }
    }

    &--3 {
      background-image: url('../images/present-bg-3.png');
      background-color: #5ECBAD;

      .present__link {
        left: 20px;
        top: 43px;
        font-size: 20px;
        line-height: 24px;
        color: $white;

        &::before {
          top: 40px;
        }
      }

      img {
        width: 119px;
        height: 182px;
        top: -18px;
        right: 21px;
      }
    }

    &--4 {
      grid-column: span 2;
      background-image: url('../images/present-bg-4.png');
      background-color: #F04C41;
      background-size: cover;
      min-width: 652px;

      .present__link {
        left: 20px;
        bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        color: $white;

        &::before {
          top: -6px;
          right: -66px;
        }
      }

      img {
        width: 329px;
        height: 197px;
        top: -15px;
        right: 9px;
      }
    }

    &--5 {
      grid-column: 2 span;
      background-image: url('../images/present-bg-5.png');
      background-color: #FFF388;
      background-size: cover;
      background-position: right center;

      .present__link {
        left: 20px;
        bottom: 20px;
        font-size: 20px;
        line-height: 24px;
        color: $black;

        &::before {
          top: -6px;
          right: -66px;
          background-image: url('../images/arrow-black.svg');
        }
      }

      img {
        width: 278px;
        height: 240px;
        top: -39px;
        right: 19px;
      }
    }

    &--6 {
      grid-row: span 2;
      background-image: url('../images/present-bg-6.png');
      background-color: #5ECBAD;

      .present__link {
        left: 20px;
        bottom: 24px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        color: $white;

        &::before {
          top: -6px;
          right: -66px;
        }
      }

      img {
        width: 381px;
        height: 455px;
        top: -41px;
        right: -59px;
      }
    }

    &--7 {
      background-image: url('../images/present-bg-7.png');
      background-color: #5ECBAD;

      .present__link {
        max-width: 117px;
        left: 20px;
        top: 30px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: $white;

        &::before {
          top: 68px;
        }
      }

      img {
        width: 209px;
        height: 205px;
        top: -17px;
        right: 7px;
      }
    }

    &--8 {
      background-image: url('../images/present-bg-8.png');
      background-color: #F04C41;
      background-size: cover;
      background-position: right;

      .present__link {
        max-width: 117px;
        left: 23px;
        top: 41px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 600;
        color: $white;

        &::before {
          top: 46px;
        }
      }

      img {
        width: 119px;
        height: 185px;
        top: -11px;
        right: 5px;
      }
    }
  }
}

.footer {
  background-color: #46AD91;
  padding: 24px 0;

  &__inner {
    display: flex;
    max-width: 1170px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    margin-right: auto;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;

    &:last-child {
      text-decoration: underline;
      margin-left: 32px;
    }
  }
}

@import 'media';
